# Virtual environments
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django / DB / media
db.sqlite3
*.sqlite3
media/

# Env files
.env
.env.*

# Logs
*.log
logs/

# Build / dist
dist/
build/
*.egg-info/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

